asgiref==3.8.1
astroid==3.2.4
bandit==1.8.5
crispy-bootstrap5==2024.2
dill==0.3.8
Django==5.2.11
django-crispy-forms==2.3
djangorestframework==3.16.0
dotenv==0.9.9
isort==5.13.2
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
pbr==6.1.1
platformdirs==4.3.2
Pygments==2.19.2
pylint==3.2.7
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
python-dotenv==1.1.1
PyYAML==6.0.2
rich==14.0.0
setuptools==80.9.0
sqlparse==0.5.1
stevedore==5.4.1
tomlkit==0.13.2
